body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 10px 0 0 0;
}

.grid-container {
    display: flex;
    height: 960px;
    width: 960px;
    border-radius: 1px;
    border: solid;
}

.grid-container > * {
    flex: auto;
}

.resize-btn {
    width: 100px;
    height: 70px;
}